
.nav-bar {
    display: flex;
    justify-content: flex-end;
}
.nav-bar * {
    font-size: 18px;
    text-decoration: none;
    padding: 2%;
    color: black;
}

@media and (max-width: 500px) {
    .nav-bar * {
        padding: 1%;
    }
}
