.history > p {
    text-align: center;
    color: white;
    font-size: 20px;
}
.history * {
    display: block;
}
.histLink {
    text-decoration: none;
    padding: 5%;
    color: white;
}
.active {
    background-color: red;
}
.search {
    padding: 5%;
    margin: 5% auto 10%;
    width: 90%;
    box-sizing: border-box;
}

