.history {
    flex: 1;
}
.history > p {
    text-align: center;
}
.history * {
    display: block;
}
.histLink {
    text-decoration: none;
    padding: 5%;
    border-bottom: 1px solid black;
    color: black;
}
.active {
    background-color: red;
}
