.history {
    flex: 1;
}
.history > p {
    text-align: center;
}
.history * {
    display: block;
}
.histLink {
    text-decoration: none;
    padding: 5%;
    border-top: 1px solid black;
    color: black;
}
.histLink:last-child {
    border-bottom: 1px solid black;
}
.active {
    background-color: red;
}
.search {
    padding: 3% 0%;
    margin-bottom: 10%;
}
